<style type="text/css">
    .select2-container, .select2-container-active, #title, #author, #description {
        width: 75% !important;
    }
    .controls div input {
        height: 40px;
    }
    .select2-search-choice {
        width: 90%;
    }
    #visible {
        float: left;
        text-align: left;
    }
</style>
{% extends 'admin/model/edit.html' %}
{% block body %}

    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>


                    <th class="list-checkbox-column">
                        <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="Select all records" />
                    </th>



                        <th class="col-md-1">&nbsp;</th>




                    <th class="column-header col-Name">


                                <a href="/admin/product/?sort=0" title="Sort by Name">Name</a>



                    </th>


                    <th class="column-header col-Description">


                                <a href="/admin/product/?sort=1" title="Sort by Description">Description</a>



                    </th>


                    <th class="column-header col-stock">


                                <a href="/admin/product/?sort=2" title="Sort by Stock">Stock</a>



                    </th>


                    <th class="column-header col-price">


                                <a href="/admin/product/?sort=3" title="Sort by Price">Price</a>



                    </th>


                    <th class="column-header col-Image">


                                <a href="/admin/product/?sort=4" title="Sort by Image">Image</a>



                    </th>


            </tr>
        </thead>

        <tr>
            <td colspan="999">

                <div class="text-center">
                    There are no items in the table.
                </div>

            </td>
        </tr>

    </table>
    </div>










    <form id="action_form" action="/admin/product/action/" method="POST" style="display: none">

        <input id="url" name="url" type="hidden" value="/admin/product/">
        <input id="action" name="action" type="hidden" value="">
    </form>





{% endblock body %}